@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* Global styles, custom properties and resets ****************************************/
:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --alt-primary-color: #333;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --main-white: #ffffff;
  --main-text-color: #333;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--main-text-color);
  line-height: 1.6;
}

a {
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  background-color: var(--main-text-color);
  color: var(--main-white);
  padding: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/* Navbar **************************************************************************/
.navbar {
  background-color: var(--alt-primary-color);
  color: var(--main-white);
  height: 70px;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--main-white);
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px var(--main-white) solid;
}

/* Showcase section ******************************************************************/
.showcase {
  height: 400px;
  background-color: var(--alt-primary-color);
  color: var(--main-white);
  position: relative;
}

.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background-color: var(--main-white);
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 30px;

  /* makes the form go past the container border */
  overflow: visible;
}

.showcase h1 {
  font-size: 40px;
  text-transform: capitalize;
}

.showcase p {
  margin: 20px 0;
  letter-spacing: 1px;
}

.showcase-text {
  animation: slideInFromLeft 0.8s ease-in;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
  animation: slideInFromRight 0.8s ease-in;
}

.showcase-form h2 {
  color: var(--main-text-color);
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

/* Stats section ***************************************************************/
.stats {
  padding-top: 100px;
  animation: slideInFromBottom 0.8s ease-in;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
  font-weight: 500;
  margin: 4rem auto;
}

.stats .grid h3 {
  font-size: 28px;
}

.stats .grid p {
  font-size: 18px;
  font-weight: 400;
  color: var(--main-text-color);
}

/* cli ****************************************************************************/
.service {
  margin-top: 6rem;
  margin-bottom: 4rem;
}
.about-img {
  margin-bottom: 2rem;
}

.about-img img {
  border-radius: 7px;
  object-fit: cover;
  height: 20rem;
}

.about {
  display: grid;
  grid-template-rows: auto 1fr;
  background: #f8f8f8;
  margin-bottom: 4rem;
  border-radius: 7px;
}

.btn-container {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn-container button {
  text-transform: capitalize;
}

.tab-btn:nth-child(1) {
  border-top-left-radius: 7px;
}

.tab-btn:nth-child(4) {
  border-top-right-radius: 7px;
}

.tab-btn {
  padding: 1rem 0;
  background: #f9f9f9;
  border: none;
  border-right: 1px solid #ccc;
  font-size: 1rem;
  display: block;
  cursor: pointer;
  transition: all 0.3s linear;
  letter-spacing: 1px;
}

.tab-btn:hover:not(.active) {
  background: hsl(205, 100%, 96%);
  color: var(--primary-color);
}

.tab-btn:nth-child(4) {
  border-right: none;
}

.about-content {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.content {
  display: none;
  padding: 1rem;
}

.content p {
  color: var(--main-text-color);
  font-weight: 400;
  letter-spacing: 1px;
}

.content h4 {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: bold;
}

.tab-btn.active {
  background-color: #fff;
}

.content.active {
  display: block;
}

/* cloud ***************************************************************************/
.cloud {
  background-color: var(--alt-primary-color);
}

.cloud h2,
p {
  color: var(--main-white);
}
.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

/* Languages ***********************************************************************/
.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

.languages .flex {
  flex-wrap: wrap;
}

.languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.languages .card:hover {
  transform: translateY(-15px);
}

/* footer ****************************************************************************/
footer {
  background-color: var(--alt-primary-color);
}

footer h1,
a {
  color: var(--light-color);
}

footer nav li a {
  transition: all 0.2s ease-in;
  opacity: 0.6;
}

footer nav li a:hover {
  opacity: 1;
}

.social a {
  margin: 0 10px;
  opacity: 0.6;
  transition: all 0.2s ease-in;
}

.social a:hover {
  opacity: 1;
}

/* Features page *********************************************************************/
.features-head {
  background-color: var(--alt-primary-color);
}

.features-head h1 {
  color: var(--main-white);
}

.features-head img,
.docs-head img {
  width: 200px;
  justify-self: flex-end;
}

.features-sub-head p {
  color: var(--main-text-color);
}
.features-sub-head img {
  width: 300px;
  justify-self: flex-end;
}

.features-main .card i {
  margin-right: 20px;
}

.features-main .grid {
  padding: 30px;
}

.features-main .grid > *:first-child {
  grid-column: 1 / span 3;
}

.features-main .grid > *:nth-child(2) {
  grid-column: 1 / span 2;
}

/* Docs page */
.docs-head {
  background-color: var(--alt-primary-color);
}

.docs-head h1 {
  color: var(--main-white);
}

.docs-main h3 {
  margin: 20px 0;
}

.docs-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.docs-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
}

.btn-cli {
  background-color: var(--alt-primary-color);
  color: var(--main-white) !important;
}

.docs-main a {
  color: var(--main-text-color);
  font-weight: 400;
}

.docs-main a:hover {
  font-weight: bold;
}

/* Animations ************************************************************************/
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Media queries *********************************************************************/

/* Tablets and under */
@media (max-width: 1000px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  .features-head,
  .features-sub-head,
  .docs-head {
    text-align: center;
  }

  .features-head img,
  .features-sub-head img,
  .docs-head img {
    justify-self: center;
  }

  .features-main .grid > *:first-child,
  .features-main .grid > *:nth-child(2) {
    grid-column: 1;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@media screen and (min-width: 992px) {
  .about-img {
    margin-bottom: 0;
  }

  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  .about-content {
    height: 270px;
  }
}
